<section class="processing-entryContentBlock processing-entryContentBlock-section{{currentSection.id}}">
  <header autoscroll="true" class="processing-entryContentBlock-header">
    <div>
      <div class="processing-entryContentBlock-header-progress">
      </div>
    </div>
    <div class="processing-entryContentBlock-header-title">
      <h1 *ngIf="currentSection.title">{{ currentSection.title | translate }}</h1>
      <h3 *ngIf="currentSection.short_help">{{ currentSection.short_help | translate }}</h3>
    </div>
    <ng-template #defaultBlock>
      <a routerLink="/summary/{{processing.id}}" class="btn processing-previewBlock">
        <span class="processing-icons processing-icon-preview"></span>
        <div>{{ 'processing.header.preview' | translate }}</div>
      </a>
    </ng-template>
  </header>
  <main>

    <form id="processing-form" #processingForm="ngForm">

      <fieldset *ngIf="currentSection == 1" id="description" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-description">{{ 'processing.form.description' | translate }}</label>
          <textarea 
            class="field" 
            id="processing-description" 
            [(ngModel)]="processing.description"
            name="description" 
            required
            (focusin)="updateKnowledgeBase($event.target)"
            (change)="updateProcessing()"
          ></textarea>
        </div>
        <div class="form-field">
          <label class="title" for="processing-standards">{{ 'processing.form.standards' | translate }}</label>
          <textarea 
            class="field" 
            id="processing-standards" 
            type="text" 
            [(ngModel)]="processing.standards"
            name="standards" 
            required
            (focusin)="updateKnowledgeBase($event.target)"
            (change)="updateProcessing()"
          ></textarea>
        </div>
      </fieldset>

      <fieldset *ngIf="currentSection == 2" id="data" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-data-types">{{ 'processing.form.data-types' | translate }}</label>
          <app-processed-data-types 
            [(ngModel)]="processing.processedDataTypes" 
            name="data-types"
            id="processing-data-types"
            (focusIn)="updateKnowledgeBase($event.target)"
            (change)="updateProcessing()"
          ></app-processed-data-types>
        </div>
        <div class="form-field">
          <label class="title" for="processing-storage">{{ 'processing.form.storage' | translate }}</label>
          <textarea 
            class="field" 
            id="processing-storage" 
            type="text" 
            [(ngModel)]="processing.storage" 
            name="storage" 
            required
            (focusin)="updateKnowledgeBase($event.target)"
            (change)="updateProcessing()"  
          ></textarea>
        </div>
      </fieldset>

      <fieldset *ngIf="currentSection == 3" id="lifecycle" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-lifecycle">{{ 'processing.form.lifecycle' | translate }}</label>
          <textarea 
            class="field" 
            id="processing-lifecycle" 
            type="text" 
            [(ngModel)]="processing.lifecycle" 
            name="lifecycle" 
            required
            (focusin)="updateKnowledgeBase($event.target)"
            (change)="updateProcessing()"  
          ></textarea>
        </div>
        <div class="form-field">
          <label class="title" for="processing-processors">{{ 'processing.form.processors' | translate }}</label>
          <!-- <tag-input
                    (onAdd)="onAdd($event)"
                    (onTagEdited)="onTagEdited($event)"
                    (onRemove)="onRemove($event)"
                    (focusin)="updateKnowledgeBase($event.target)"
                    (change)="updateProcessing()" 
                    formControlName="list"
                    [clearOnBlur]="true"
                    [theme]="'foundation-theme'"
                    [placeholder]="placeholder | translate"
                    [editable]="false"
                    [onlyFromAutocomplete]="true"
                    [secondaryPlaceholder]="'aaaaa' | translate">
            <tag-input-dropdown [showDropdownIfEmpty]="true"></tag-input-dropdown>
          </tag-input> -->
        </div>
        <div class="form-field">
          <label class="title" for="processing-non-eu-transfer">{{ 'processing.form.non-eu-transfer' | translate }}</label>
          <input class="field" 
            
            type="checkbox" 
            name="non-eu-transfer" 
            required
            [(ngModel)]="processing.nonEuTransfer"
            (focusin)="updateKnowledgeBase($event.target)"
            (change)="updateProcessing()"
          >
        </div>
      </fieldset>
    </form>
  </main>

  <footer class="processing-entryContentBlock-footer">
    <div class="processing-entryContentBlock-footer-nav">
      <a *ngIf="currentSection > 1" class="processing-previous" routerLink="/processing/{{ processing.id }}/section/{{ getSectionById(currentSection - 1).id }}">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        {{ getSectionById(currentSection - 1).title | translate }}
      </a>
      <a *ngIf="currentSection < 3" class="processing-next" routerLink="/processing/{{ processing.id }}/section/{{ getSectionById(currentSection + 1).id }}">
        {{ getSectionById(currentSection + 1).title | translate }}
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
    </div>
  </footer>
</section>