<section class="processing-setion">
  <header autoscroll="true" class="processing-entryContentBlock-header">
    <div>
      <div class="processing-entryContentBlock-header-progress">
      </div>
    </div>
    <div class="processing-entryContentBlock-header-title">
      <h1>{{ currentSection.title | translate }}</h1>
      <h3>{{ currentSection.short_help | translate }}</h3>
    </div>
    <ng-template #defaultBlock>
      <a routerLink="/summary/{{processing.id}}" class="btn processing-previewBlock">
        <span class="processing-icons processing-icon-preview"></span>
        <div>{{ 'processing.header.preview' | translate }}</div>
      </a>
    </ng-template>
  </header>
  <main>

    <form id="processing-form" #processingForm="ngForm">
      
      <fieldset *ngIf="currentSection.id == 1" id="description" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-description">{{ 'processing.form.description' | translate }}</label>
          <div (click)="editField(description)"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['description']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === description.id) || !processingForm.form.controls['description']?.value) }" 
          ></div>
          
          <textarea
            class="field" 
            id="processing-description" 
            required
            name="description" 
            minRows="8"
            cols="50"
            placeholder="'processing.form.description.placeholder' | translate"
            #description
            (change)="updateProcessing()"
            [(ngModel)]="processing.description"
            [ngClass]="{ 'hide': (processingForm.form.controls['description']?.value && processingForm.form.controls['description']?.value.length > 0) }"
            (focusin)="editField($event.target)"
          ></textarea>
        </div>
        
        <div class="form-field">
          <label class="title" for="processing-standards">{{ 'processing.form.standards' | translate }}</label>
          <div (click)="editField(standards)"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['standards']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === standards.id) || !processingForm.form.controls['standards']?.value) }" 
          ></div>
          
          <textarea
            class="field" 
            id="processing-standards" 
            required
            name="standards" 
            minRows="8"
            cols="50"
            placeholder="'processing.form.standards.placeholder' | translate"
            #standards
            (change)="updateProcessing()"
            [(ngModel)]="processing.standards"
            [ngClass]="{ 'hide': (processingForm.form.controls['standards']?.value && processingForm.form.controls['standards']?.value.length > 0) }"
            (focusin)="editField($event.target)"
          ></textarea>
        </div>
      </fieldset>

      <fieldset *ngIf="currentSection.id == 2" id="data" class="form-section">
        <div class="form-field">
          <label class="title" for="processing-data-types">{{ 'processing.form.data-types' | translate }}</label>
          <app-processed-data-types 
            [(ngModel)]="processing.processedDataTypes" 
            name="data-types"
            id="processing-data-types"
            (focusIn)="updateKnowledgeBase($event.target)"
            (change)="updateProcessing()"
          ></app-processed-data-types>
        </div>

        <div class="form-field">
          <label class="title" for="processing-storage">{{ 'processing.form.storage' | translate }}</label>
          <div (click)="editField(storage)"
            class="pia-questionBlock-contentText"
            [innerHTML]="processingForm.form.controls['storage']?.value | safeHtml"
            [ngClass]="{ 'hide': ((editor && elementId === storage.id) || !processingForm.form.controls['storage']?.value) }" 
          ></div>
          
          <textarea
            class="field" 
            id="processing-storage" 
            required
            name="storage" 
            minRows="8"
            cols="50"
            placeholder="'processing.form.storage.placeholder' | translate"
            #storage
            (change)="updateProcessing()"
            [(ngModel)]="processing.storage"
            [ngClass]="{ 'hide': (processingForm.form.controls['storage']?.value && processingForm.form.controls['storage']?.value.length > 0) }"
            (focusin)="editField($event.target)"
          ></textarea>
        </div>
      </fieldset>

      <fieldset *ngIf="currentSection.id == 3" id="lifecycle" class="form-section">
          <div class="form-field">
            <label class="title" for="processing-lifecycle">{{ 'processing.form.lifecycle' | translate }}</label>
            <div (click)="editField(lifecycle)"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['lifecycle']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === lifecycle.id) || !processingForm.form.controls['lifecycle']?.value) }" 
            ></div>
            
            <textarea
              class="field"
              id="processing-lifecycle" 
              required
              name="lifecycle" 
              minRows="8"
              cols="50"
              placeholder="'processing.form.lifecycle.placeholder' | translate"
              #lifecycle
              (change)="updateProcessing()"
              [(ngModel)]="processing.lifecycle"
              [ngClass]="{ 'hide': (processingForm.form.controls['lifecycle']?.value && processingForm.form.controls['lifecycle']?.value.length > 0) }"
              (focusin)="editField($event.target)"
            ></textarea>
          </div>
          <div class="form-field">
            <label class="title" for="processing-processors">{{ 'processing.form.processors' | translate }}</label>
            <div (click)="editField(processors)"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['processors']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === processors.id) || !processingForm.form.controls['processors']?.value) }" 
            ></div>
            
            <textarea
              class="field" 
              id="processing-processors" 
              required
              name="processors" 
              minRows="8"
              cols="50"
              placeholder="'processing.form.processors.placeholder' | translate"
              #processors
              (change)="updateProcessing()"
              [(ngModel)]="processing.processors"
              [ngClass]="{ 'hide': (processingForm.form.controls['processors']?.value && processingForm.form.controls['processors']?.value.length > 0) }"
              (focusin)="editField($event.target)"
            ></textarea>
          </div>
          <div class="form-field">
            <label class="title" for="processing-non-eu-transfer">{{ 'processing.form.non-eu-transfer' | translate }}</label>
            <div (click)="editField(nonEuTransfer)"
              class="pia-questionBlock-contentText"
              [innerHTML]="processingForm.form.controls['non-eu-transfer']?.value | safeHtml"
              [ngClass]="{ 'hide': ((editor && elementId === nonEuTransfer.id) || !processingForm.form.controls['non-eu-transfer']?.value) }" 
            ></div>
            
            <textarea
              class="field" 
              id="processing-non-eu-transfer" 
              required
              name="non-eu-transfer" 
              minRows="8"
              cols="50"
              placeholder="'processing.form.non-eu-transfer.placeholder' | translate"
              #nonEuTransfer
              (change)="updateProcessing()"
              [(ngModel)]="processing.nonEuTransfer"
              [ngClass]="{ 'hide': (processingForm.form.controls['non-eu-transfer']?.value && processingForm.form.controls['non-eu-transfer']?.value.length > 0) }"
              (focusin)="editField($event.target)"
            ></textarea>
          </div>
      </fieldset>
    </form>
  </main>
</section>